fastapi>=0.100.0
uvicorn[standard]>=0.20.0
sqlalchemy>=2.0.0
alembic
psycopg2-binary
pydantic>=2.0.0
pydantic[email]
pydantic-settings
redis
python-dotenv
loguru
python-jose[cryptography]
aiogram==3.4.1
Jinja2>=3.1.6
magic-filter>=1.0.9
Pillow==10.0.0
aiofiles==23.2.1
python-multipart==0.0.6